body {
	font-family: "Lucida Console", "Courier New", monospace;
	color: #fff;
	background-image: linear-gradient(#000, #fff),url("image.png");
	background-repeat: repeat;
	background-blend-mode:multiply;
	font-size: small;
}

.cat {
  object-fit: contain;
  width: 20%;
}